.navbar{
	background: #f6b319;
}

.navbar-brand {
	padding : 0;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 2;
  margin-bottom: 2;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  background-color: red;
}



.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

.nav li a:hover{
  background-color: #00ff00;
}


.collapsable-nav a {
	text-align: center;
	color: black;
	font-family: 'Oxygen', sans-serif;
	box-sizing: content-box;
	word-wrap: break-word
}

.menu {
	font-size: 1.5em;
    text-transform: uppercase;
}

.container {
  background-color: white;
  margin-top: 20px;
}

.box h3 {
	text-transform: uppercase;
}

body {
	  background-color: #61122f;
}

.container-fluid h1{
	color: black;
    font-size: 2vw;	
}

.container h4 {
	text-transform: uppercase;
}

.nav li a {
	background-color: white;
	border-radius: 5px;
	border:1px solid black;
	margin-top: 2px;
}

.container-fluid h2{
	color: black;
    font-size: 2vw;	
 }


/***************Large device only************/
@media(min-width:1200px) {
.navbar-brand h1 { /* Restaurant name */
  font-size: 2vw;
  margin-left: 20px;
}

}

/***************Medium device only************/
@media(min-width: 992px) and (max-width:1199px) {
.navbar-brand h1 { /* Restaurant name */
  font-size: 2vw;
  margin-left: 20px;
}

}

/***************Small device only************/
@media(min-width: 768px) and (max-width:991px) {
.navbar-brand h1 { /* Restaurant name */
  font-size: 2.5vw;
  margin-left: 20px;
}
.container-fluid h2{
	color: black;
    font-size: 3vw;	
 }
} 

/***************extra small device only************/
@media(max-width: 767px) {
 .navbar-brand h1 {
 	margin-left: 10px;
 	font-size: 4vw;
 	margin-top: 15px;
 	margin-left: 15px;
 	padding-top: 0px;
 }
  a {
	text-align: center;
 }
}

li {
	text-transform: uppercase;
}

.container-fluid h2{
	color: black;
    font-size: 4vw;	
 }
